@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background-image: url("https://images.unsplash.com/photo-1589400554239-7c6cf8393a6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: aqua;
}

.container {
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.123);
    padding: 25px 100px 25px 100px;
    position: absolute;
    bottom: 40px;
    border: 5px solid rgba(255, 217, 0, 0.027);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    width: 90%;
    background-color: rgba(181, 187, 181, 0.103);
    border-radius: 10px;
    height: 10px;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: .1s;
    transition: opacity .1s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #dbab0d;
    cursor: pointer;
}